<li>@Html.ActionLink("Clientes (Foundation)", "Indice", "Clientes")</li>
<li>@Html.ActionLink("Funcionarios (Ink)", "Indice", "Funcionarios")</li>
<li>@Html.ActionLink("Produtos (Bootstrap)", "Indice", "Produtos")</li>
