@model EX2.Models.Produto

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Produto</legend>

        @Html.HiddenFor(model => model.ProdutoId)
		@Html.Partial("_CriarOuEditar", Model)

        <p>
            <input type="submit" value="Gravar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Indice")
</div>
