@model EX2.Models.Funcionario

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Funcionario</legend>

		@Html.Partial("_CriarOuEditar", Model)

        <p>
            <input type="submit" value="Criar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Indice")
</div>


