USE [CodingCraftHOMod1Ex6Dapper-Pedro]
GO
/****** Object:  Table [dbo].[AgricultureGdps]    Script Date: 02/10/2017 16:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgricultureGdps](
	[AgricultureGdpId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Value] [decimal](20, 15) NULL,
 CONSTRAINT [PK_dbo.AgricultureGdps] PRIMARY KEY CLUSTERED 
(
	[AgricultureGdpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 02/10/2017 16:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AgricultureGdps] ON 

INSERT [dbo].[AgricultureGdps] ([AgricultureGdpId], [CountryId], [Year], [Value]) VALUES (1, 1, 1961, NULL)
INSERT [dbo].[AgricultureGdps] ([AgricultureGdpId], [CountryId], [Year], [Value]) VALUES (2, 2, 1961, NULL)
INSERT [dbo].[AgricultureGdps] ([AgricultureGdpId], [CountryId], [Year], [Value]) VALUES (3, 3, 1961, NULL)
GO
SET IDENTITY_INSERT [dbo].[AgricultureGdps] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (1, N'Abkhazia')
INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (2, N'Afghanistan')
INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (3, N'Akrotiri and Dhekelia')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
ALTER TABLE [dbo].[AgricultureGdps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AgricultureGdps_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AgricultureGdps] CHECK CONSTRAINT [FK_dbo.AgricultureGdps_dbo.Countries_CountryId]
GO
